<article>
  <h3><%=post.username%></h3>
  <p class="post-info">
    <h4><%=post.title%></h4>

    <%=post.post%> <div class="date"><%=post.date%></div>
  </p>
  <form class="delete-post" action="/home/delete?deletePost=<%=post.id%>" method="post">
    <button type="submit" >Delete</button>
  </form>
</article>
